.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-right: 15px;
  border-right: solid #eeeeee 2px;
}

.feed-wrapper {
  margin: 15px 40px 0px 25px
}